.brand-gradient{
    background: #0015CF;
    background: linear-gradient(to top, #0015CF 0%, #04FB4E 76%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-holder, .main-page-header{
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
}
.custom-nav{
    backdrop-filter: blur(8px);
}